
<div class="container">
    <div class="row">
        <div class="col-md-12 m-3">
            <h1>Forgot Password </h1>
            <div class="form-group m-3">
                <label>Write the Name of Favourite Teacher</label>
                <input type="text" id="txtName" name="txtName" placeholder="Enter Name " class="form-control"/>
            </div>
            <input type="submit" name="login" value="Forgot Password" class="btn btn-primary m-3 w-100" />
            <small><a routerLink="../login">Login</a></small>
        </div>
    </div>

</div>